<div class="container mt-4">
  <div class="w-50 mx-auto">
    <div class="border-start border-3 px-2 py-1 bg-light">
      <p><%= params[:ask] %></p>
      <p>ーYou</p>
    </div>
    <div class="border-start border-3 px-2 py-1 bg-warning mt-2">
      <p><%= @answer %></p>
      <p>ーStupid Coach</p>
    </div>

    <%= link_to "ask another question", ask_path, class: 'btn btn-outline-primary w-100 mt-3' %>
  </div>
</div>
