<div class="container mt-4 ">
  <form action="/answer" data-turbo="false">
    <div class="mb-3 w-50 mx-auto">
    <label for="ask" class="form-label">Ask something to your coach:</label>
    <input type="text" class="form-control " id="ask" name="ask">
    <input type="submit" class="btn btn-primary mt-2 w-100" value="Ask!">
  </div>
  </form>
</div>
